<div class="container">
    <h1>registration</h1>
    <form  class="form" [formGroup]="registerForm">
        <input type="text" formControlName="FirstName" placeholder="FirstName">
        <input type="text" formControlName="MiddleName" placeholder="MiddleName">
        <input type="text" formControlName="LastName" placeholder="LastName">
        <input type="text" formControlName="EmailAddress" placeholder="email@gmail.com">
        <input type="text" formControlName="PhoneNo" placeholder="PhoneNo">
        <input type="text " formControlName="DateOfBirth" placeholder="DateOfBirth">
        <input type="password" formControlName="Password" placeholder="password"><br>
        <button class="btn" (click)="onSubmit()">submit</button>
        <div class="col-sm-12">
            <a routerLink="/login" style="background-color: green;color: white;text-decoration: underline; margin-top: 4px; border-radius: .8rem;margin:1rem;padding: .08rem;margin-left: 2rem;" > Already have an account? Click here to login!</a>
        </div>
    </form>
  </div>
