<div class="container">
  <h1>login</h1>
  <form  class="form" [formGroup]="loginForm">
      <input type="text" formControlName="username" placeholder="username">
      <input type="text" formControlName="email" placeholder="email@gmail.com">
      <input type="text" formControlName="password" placeholder="password">
      <button class="btn" (click)="login()">submit</button>
  </form>
  <a  style="background-color: green;color: white; margin-top: .1rem; border-radius: .8rem;margin:1rem;padding: .2rem;margin-left: 6rem;" routerLink="/register">New user? Click here to register!</a>
</div>
